@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Filled|Material+Icons+Rounded|Material+Icons+Outlined");

.post-img input[id*="slide"] {
  display: none;
}
.post-img .slidewrap {
  max-width: 1200px;
  margin: 0 auto;
}
.post-img .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.post-img .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.post-img .slidelist > li > a {
  display: block;
  position: relative;
}
.post-img .slidelist > li > a img {
  width: 100%;
}
.post-img .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  cursor: pointer;
}

.post-img input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.post-img input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.post-img input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}
.post-img input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-300%);
}
.post-img input[id="slide05"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-400%);
}

.slide-control > div {
  display: none;
}
.post-img .left {
  left: -8px;
  background: url("./img/left-icon.png") center center / 100% no-repeat;
  background-size: 24px 24px;
  opacity: 0.6;
}
.post-img .right {
  right: -8px;
  background: url("./img/right-icon.png") center center / 100% no-repeat;
  background-size: 24px 24px;
  opacity: 0.6;
}
.post-img
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(1) {
  display: block;
}
.post-img
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(2) {
  display: block;
}
.post-img
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(3) {
  display: block;
}
.post-img
  input[id="slide04"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(4) {
  display: block;
}
.post-img
  input[id="slide05"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(5) {
  display: block;
}

.slide-pagelist {
  text-align: center;
  width: 614px;
  height: 54px;
  background-color: white;
  border-left: solid 1px #dbdbdb;
  border-right: solid 1px #dbdbdb;
  padding: 6px 16px 8px;
  margin: 0;
  display: flex;
}
.slide-pagelist li {
  margin: 10px 2px 0px 2px;
}
.slide-pagelist > li {
  display: inline-block;
  vertical-align: middle;
}
.slide-pagelist > li > label {
  display: block;
  padding: 3px;
  border-radius: 30px;
  background: #a8a8a8;
  cursor: pointer;
}
.post-img
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(2)
  > label {
  background: #0095f6;
}
.post-img
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(3)
  > label {
  background: #0095f6;
}
.post-img
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(4)
  > label {
  background: #0095f6;
}
.post-img
  input[id="slide04"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(5)
  > label {
  background: #0095f6;
}
.post-img
  input[id="slide05"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(6)
  > label {
  background: #0095f6;
}

div,
input,
textarea nav {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-container {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #dbdbdb;
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-main {
  width: 975px;
  height: 100%;
  padding: 10px 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.nav-main i {
  width: 60px;
  height: 60px;
}

.insta-logo {
  margin-top: 8px;
  width: 333.5px;
}

.input {
  margin-top: 2px;
  width: 268px;
  padding: 0px;
  position: relative;
}

.input:focus > form > span {
  opacity: 0;
}

input::placeholder {
  color: #8e8e8e;
  font-weight: 100;
}
input::-webkit-input-placeholder {
  color: #8e8e8e;
  font-weight: 100;
}
input:-ms-input-placeholder {
  color: #8e8e8e;
  font-weight: 100;
}

.input span {
  color: #8e8e8e;
  position: absolute;
  left: 11px;
  bottom: 7px;
}

.inp {
  box-sizing: border-box;
  background-color: #efefef;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 8px;
  padding: 0px 16px;
}

.icon {
  margin-top: 8px;
  width: 333.5px;
  text-align: right;
}

.icon li {
  width: 43px;
  height: 25px;
  font-size: 27px;
  text-align: right;
}

.icon:hover {
  cursor: pointer;
}

.profile {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-left: 18px;
}

.content-background {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.content {
  margin: 0 auto;
  padding-top: 24px;
  width: 935px;
  display: flex;
}

.main {
  width: 614px;
}

.story-bg {
  height: 119px;
  background-color: white;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  padding: 16px 0px;
  margin-bottom: 24px;
}

.story {
  width: 100%;
  height: 85px;
  display: flex;
  overflow: scroll;
}

.story::-webkit-scrollbar {
  display: none;
}

.story li {
  list-style: none;
  width: 18px;
  height: 85px;
}

.story-profile {
  width: 80px;
  height: 84px;
  padding: 0px 8px;
}

.story-profile:hover {
  cursor: pointer;
}

.story-profile-img {
  width: 64px;
  height: 64px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(45deg, orange 10%, #c52e92 60%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.story-profile-img-none {
  width: 64px;
  height: 64px;
  padding: 3px;
  border-radius: 50%;
  border: 0.1px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #dbdbdb 0%, #dbdbdb 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.story-img {
  position: relative;
  bottom: 1.85px;
  right: 2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: solid 2px white;
  object-fit: cover;
}

.story-name {
  margin-top: 7px;
  font-size: 12px;
  color: #262626;
  text-align: center;
}

.story-name-none {
  margin-top: 7px;
  font-size: 12px;
  color: #8e8e8e;
}

.post-header {
  margin-top: 24px;
  width: 614px;
  height: 70px;
  background-color: white;
  border: solid 1px #dbdbdb;
  border-bottom: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.post-header-profile {
  width: 566px;
  height: 70px;
  padding: 14px 4px 14px 16px;
  display: flex;
  align-items: center;
}

.post-header-img {
  width: 32px;
  height: 42px;
  display: flex;
  align-items: center;
}

.post-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #dbdbdb;
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, orange 0%, #c52e92 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.post-header-text {
  width: 70px;
  height: 42px;
  margin: 0px 0px 0px 14px;
  text-align: left;
}

.heart {
  padding: 0px;
  margin: 0px 0px 8px;
  display: flex;
}

.heart-img-box {
  width: 24px;
  height: 24px;
}

.heart-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.heart-text-box {
  width: 554px;
}

.heart-text {
  line-height: 10px;
  height: 18px;
}
.user-name {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

#user-name-line-none {
  text-decoration: none;
}

.user-tag {
  font-size: 14px;
  color: #00376b;
}

.post-location {
  font-size: 12px;
  color: #8e8e8e;
}

.pd2 {
  padding: 2px;
}

.post-header-etc {
  width: 48px;
  height: 40px;
  padding: 0px 8px 0px 0px;
  line-height: 50px;
}

.slideitem img {
  width: 614px;
  height: 322px;
}

.slidelist {
  padding: 0px;
}

.post-icon {
  text-align: left;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 0px;
}

.post-icon2 {
  text-align: right;
  width: 40px;
  height: 40px;
  padding: 8px 0px 8px 8px;
}

.post-icon span {
  width: 24px;
  height: 24px;
}

.post-icon-box {
  width: 277px;
  display: flex;
}

.post-icon-box2 {
  width: 277px;
  display: flex;
  justify-content: right;
}

.post-content {
  width: 614px;
  background-color: white;
  border: solid 1px hsl(0, 0%, 86%);
  border-top: none;
}

.post-content-comment {
  width: 100%;
  padding: 0px 16px;
  font-size: 14px;
  text-align: left;
  color: #262626;
  margin-bottom: 16px;
}

.user-writing {
  height: 22px;
}

.comment-more {
  height: 22px;
  color: #8e8e8e;
}

.comment-box {
  height: 44px;
}

.comment {
  height: 22px;
  display: flex;
  align-items: center;
}

.comment-text {
  width: 564px;
  padding: -2px;
}

.post-time {
  font-size: 10px;
  color: #8e8e8e;
  margin-top: 5px;
}

.post-footer {
  width: 614px;
  height: 53px;
  padding: 6px 16px;
  background-color: white;
  border: solid 1px #dbdbdb;
  border-top: none;
}

.blank {
  width: 3.84px;
}

.ft12 span {
  font-size: 12px;
  text-align: right;
}

#cursor:hover {
  cursor: pointer;
}

#cursor-none:hover {
  cursor: default;
}

#opacity:hover {
  opacity: 0.5;
}

.footer-box {
  width: 582px;
  height: 40px;
  display: flex;
  font-size: 14px;
  align-items: center;
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

.footer-text {
  padding: 0px;
  width: 514px;
  height: 18px;
  border: none;
  resize: none;
}

.send {
  width: 28px;
  color: #0095f6;
  opacity: 1;
  font-weight: bold;
}

.side {
  margin-top: 30px;
  width: 293px;
  margin-left: 28px;
}

.aside-profile {
  width: 100%;
  height: 56px;
  display: flex;
}

.aside-profile-img {
  width: 66px;
  height: 56px;
}

.aside-profile-img img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.aside-profile-name {
  width: 187px;
  height: 56px;
  display: flex;
  align-items: center;
}

.aside-profile-text {
  width: 100%;
  height: 18px;
  margin: 0px 0px 0px 12px;
}

.aside-profile-transform {
  width: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.aside-profile-transform-text {
  font-size: 12px;
  color: #0095f6;
  font-weight: 600;
}

.aside-profile-transform-text:hover {
  cursor: pointer;
}

.aside-recommend {
  width: 100%;
  height: 291px;
}

.aside-recommend-nav {
  margin-top: 18px;
  padding: 4px 0px;
  display: flex;
}

.aside-recommend-nav-text {
  width: 240px;
  font-size: 14px;
  color: #8e8e8e;
}

.aside-recommend-nav-viewall {
  width: 53px;
  font-size: 12px;
  color: #262626;
}

.aside-recommend-list {
  width: 100%;
  height: 256px;
  padding: 8px 0px;
}

.aside-user {
  width: 100%;
  height: 48px;
  padding: 8px 0px;
  display: flex;
}

.aside-user-img {
  width: 42px;
  height: 32px;
}

.aside-user-img:hover {
  cursor: pointer;
}

.aside-user-img img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.user-explanation {
  font-size: 12px;
  color: #8e8e8e;
}

.user-explanation-box {
  width: 201px;
  height: 18px;
}

.user-explanation-box {
  width: 201px;
  height: 16px;
}

.aside-user-follow {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.aside-tip {
  width: 300px;
  height: 129px;
  padding-bottom: 38px;
  font-size: 12px;
  color: #c7c7c7;
}

.aside-tip-box {
  width: 100%;
  height: 57px;
  margin-bottom: 16px;
}

.aside-tip-ul {
  width: 100%;
  height: 54px;
  padding: 0px;
  margin-bottom: 3px;
}

.aside-tip-ul li::after {
  content: "·";
  font-weight: 600;
}

.aside-tip-ul li:last-child::after {
  content: none;
}

.aside-tip-contents {
  display: inline-block;
  font-weight: 400;
}

.aside-tip-contents > a {
  display: inline-block;
  color: #c7c7c7;
  text-decoration: none;
}

.languege {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  opacity: 0;
  width: 24px;
  height: 16px;
  position: relative;
  right: 28px;
}

.languege:focus {
  outline: none;
}

.copyright {
  height: 18px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .side {
    display: none;
  }

  .content {
    width: 600px;
  }
}
