@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Filled|Material+Icons+Rounded|Material+Icons+Outlined');

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.post-img input[id*="slide"] {display:none;}
.post-img .slidewrap {max-width:1200px;margin:0 auto;}
.post-img .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;}
.post-img .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
.post-img .slidelist > li > a {display:block;position:relative;}
.post-img .slidelist > li > a img {width:100%;}
.post-img .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}

.post-img input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.post-img input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.post-img input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
.post-img input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
.post-img input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}

.slide-control > div {display:none;}
	.post-img .left {left:30px;background:url('./img/left.png') center center / 100% no-repeat;}
	.post-img .right {right:30px;background:url('./img/right.png') center center / 100% no-repeat;}
	.post-img input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
	.post-img input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
	.post-img input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}
    .post-img input[id="slide04"]:checked ~ .slidewrap .slide-control > div:nth-child(4) {display:block;}
	.post-img input[id="slide05"]:checked ~ .slidewrap .slide-control > div:nth-child(5) {display:block;}

    .slide-pagelist {text-align:center;}
	.slide-pagelist > li {display:inline-block;vertical-align:middle;}
	.slide-pagelist > li > label {display:block;padding: 3px; border-radius:30px;background:#ccc;cursor:pointer;}
	.post-img input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#999;}
	.post-img input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#999;}
	.post-img input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#999;}
    .post-img input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {background:#999;}
	.post-img input[id="slide05"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(5) > label {background:#999;}

div, input, textarea nav{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.nav-container {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dbdbdb;
    
}

.nav-main {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.nav-main i {
    width: 60px;
    height: 60px;
}

.insta-logo {
    margin-top: 8px;
    width: 333.5px;
}

.input {
    margin-top: 2px;
    width: 268px;
    padding: 0px;
    position: relative;
}

input::placeholder {color:#8e8e8e; font-weight: 100;}
input::-webkit-input-placeholder {color:#8e8e8e; font-weight: 100;}
input:-ms-input-placeholder {color:#8e8e8e; font-weight: 100;}

.input span {
    color: #8e8e8e;
    position: absolute;
    left: 11px;
    bottom: 7px;
}

.inp{ 
    box-sizing: border-box;
    background-color: #efefef;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 8px;
    padding: 0px 16px;
}

.icon {
    margin-top: 8px;
    width: 333.5px;
    text-align: right;
    
}

.icon span {
    width: 38px;
    height: 25px;
    font-size: 27px;
    text-align: right;
}

.profile {
    width: 25px; 
    height: 25px; 
    border-radius: 25px;
    margin-left: 18px;
}

.content-background {
    
    background-color: #fafafa;
}

.content {
    margin:0 auto;
    padding-top: 24px;
    width: 935px;
    text-align: center;
    display: flex;
}

.main {
    width: 612px;
}

.story-bg {
    height: 119px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    padding: 16px 0px;
    margin-bottom: 24px;
}

.story {
    width: 100%;
    height: 85px;
    display: flex;
}

.story li {
    list-style: none;
    width: 18px;
    height: 85px;
}

.story-profile {
    width: 64px;
    height: 84px;
}

.story-profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.story-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    border: solid 1px #dbdbdb;
}

.story-img2 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    top: 1px;
    border: solid 1px #dbdbdb;
}

.story-name {
    margin-top: 7px;
    font-size: 11px;
    color: #8e8e8e;
}

.post-header {
    margin-top: 24px;
    width: 612px;
    height: 70px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-bottom: none;
    border-radius: 2px;
    display: flex;
    align-items: center
}

.post-header-profile {
    width: 566px;
    height: 70px;
    padding: 14px 4px 14px 16px;
    display: flex;
    align-items: center
}

.post-header-img {
    width: 32px;
    height: 42px;
    display: flex;
    align-items: center
}

.post-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px #dbdbdb;
}

.post-header-text {
    width: 500px;
    height: 42px;
    margin: 0px 0px 0px 14px;
    text-align: left;
}

.user-name {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

.user-tag {
    font-size: 14px;
    color: #00376B;
}

.post-location{
    font-size: 12px;
    color: #8e8e8e;
}

.pd2 {
    padding: 2px;
}

.post-header-etc {
    width: 48px;
    height: 40px;
    padding: 0px 8px 0px 0px;
    line-height: 50px
}

.post-img {
    width: 612px;
    height: 322px;
    background-color: #262626;
}

.slideitem img {
    width: 612px;
    height: 322px;
}

.slidelist {
    padding: 0px;
}

.post-content {
    width: 614px;
    background-color: white;
    border: solid 1px hsl(0, 0%, 86%);
    border-radius: 2px;
    
}

.post-content-comment {
    width: 100%;
    padding: 0px 16px;
    font-size: 14px;
    text-align: left;
    color: #262626;
    margin-bottom: 16px;
    
}

.post-content-comment div {
    padding: 2px;
}

.comment-more {
    color: #8e8e8e;
}

.comment {
    display: flex;
    align-items: center
}

.comment-text {
    width: 564px;
    padding: -2px;
}

.post-time {
    font-size: 10px;
    color: #8e8e8e;
    font-weight: bold;
    margin-top: 5px;
}

.post-footer {
    width: 614px;
    height: 53px;
    padding: 6px 16px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-top: none;
}

.blank {
    width: 3.84px;
}

.ft12 span {
    font-size: 12px;
    text-align: right;
    
}

.null {
    width: 30px;
}

.side {
    margin-top: 30px;
    width: 293px;
    height: 100px;
    background-color: aqua;
}